<section>
  <div class="footer">
    <div class="social">
      <a href="#"><i class="fa-solid fa-phone"></i></a>
      <a href="#"><i class="fa-solid fa-envelope"></i></a>
      <a href="#"><i class="fa-brands fa-facebook"></i></a>
      <a href="#"><i class="fa-brands fa-linkedin"></i></a>
    </div>

    <ul class="list">
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/service">Feature</a>
      </li>
      <li>
        <a href="/products">Get Started</a>
      </li>
      <li>
        <a href="/contact">About Us</a>
      </li>
    </ul>
    <p class="copyright">
      Copyright © DevSpace | All right reserved
    </p>
  </div>
</section>
</body>
</html>
