<%- include("partials/header"); %>
    <section>
      <div class="container">
        <header>
          <a href="/" class="logo">DevSpace</a>
          <ul>
            <li><a href="/" >Home</a></li>
            <li><a href="/service">Services</a></li>
            <li><a href="/products">Products</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </header>
        <div class="content">
          <h2>Welcome to the DevSpace</h2>
          <p>DevSpace brings you the best and latest Icons,Website Templates, Stickers and much more!</p>
          <a href="/login">Login</a>
        </div>
        <div class="img8x">
          <img src="dev_logo-removebg.png" alt="CHARACTER">
        </div>
      </div>
    </section>

    <section>
      <div class="container">
      <div class="card">
        <h1>Templates</h1>
        <img src="https://cdn-icons-png.flaticon.com/128/1055/1055666.png" alt="">
        <div class="content">
          <h3>Website Templates</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
            ut aliquip ex ea commodo consequat.</p>
            <a href="/products">Read More</a>
        </div>
      </div>
      <div class="card">
        <h1>Icons</h1>
        <img src="https://cdn-icons-png.flaticon.com/128/7901/7901995.png" alt="">
        <div class="content">
          <h3>Icons</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
            ut aliquip ex ea commodo consequat.</p>
            <a href="/products">Read More</a>
        </div>
      </div>
      <div class="card">
        <h1>Stickers</h1>
        <img src="001-sticker.png" alt="">
        <div class="content">
          <h3>Stickers</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
            ut aliquip ex ea commodo consequat.</p>
            <a href="/products">Read More</a>
        </div>
      </div>
    </div>
    </section>

    <section>
      <div class="container ">
  		<article class="postcard dark blue">
        <div class="postcard__img_link">
          <img class="postcard__img" src="WebDev.jpg" alt="Image Title" />
        </div>
        <div class="postcard__text">
  				<h1 class="postcard__title"><p>Web Development</p></h1>
  				<div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
          <a class="description-btn" href="/service">Learn more</a>
  			</div>
  		</article>
  		<article class="postcard dark red">
  			<div class="postcard__img_link">
  				<img class="postcard__img" src="SEO.jpg" alt="Image Title" />
  			</div>
  			<div class="postcard__text">
  				<h1 class="postcard__title red"><p>SEO</p></h1>
  				<div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
          <a class="description-btn" href="/service">Learn More</a>
  			</div>
  		</article>
  		<article class="postcard dark green">
  			<div class="postcard__img_link">
  				<img class="postcard__img" src="WebDev.jpg" alt="Image Title" />
  			</div>
  			<div class="postcard__text">
  				<h1 class="postcard__title green"><p>Domain</p></h1>
  				<div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
          <a class="description-btn" href="/service">Learn more</a>
  			</div>
  		</article>
  	</div>
    </section>
    <%- include("partials/footer"); %>
