<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cards</title>
    <link rel="stylesheet" href="css/login.css">
  </head>
  <body>
    <section>
      <div class="container">
        <div class="form">
          <h2>Login Form</h2>
          <form class="" action="index.html" method="post">
            <div class="inputBox">
              <input type="text" name="" value="" placeholder="Username">
            </div>
            <div class="inputBox">
              <input type="password" name="" value="" placeholder="Password">
            </div>
            <div class="inputBox">
              <input type="submit" name="" value="Login">
            </div>
            <p class="forget">Forgot Password ?
              <a href="#">Click Here</a>
            </p>
            <p class="forget">Don't have an account ?
              <a href="/signup">Sign Up</a>
            </p>
          </form>
        </div>

      </div>
    </section>
  </body>
</html>
