<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevSpace</title>
    <link rel="stylesheet" href="css/service.css">
  </head>
  <body>
    <section>
      <div class="container">
        <form class="" action="#" method="post">

            <div class="title">Services</div>
          <div class="user-details">
            <div class="input-box">
              <input type="text" name="" value="" placeholder="Enter your name" required>
            </div>
            <div class="input-box">
              <input type="text" name="" value="" placeholder="Enter your email" required>
            </div>
            <div class="input-box">
              <input type="text" name="" value="" placeholder="Enter your number" required>
            </div>
            <div class="input-box">
              <textarea type="text" name="" value="" placeholder="Describe your requirement" required></textarea>
            </div>
          </div>

          <div class="service-details">
            <input type="checkbox" name="service" id="dot-1" value="">
            <input type="checkbox" name="service" id="dot-2" value="">
            <input type="checkbox" name="service" id="dot-3" value="">
            <span class="service-title">Service Required</span>
            <div class="category">
              <label for="dot-1">
                <span class="dot one"></span>
                <span class="service">Webpage</span>
              </label>
              <label for="dot-2">
                <span class="dot two"></span>
                <span class="service">SEO</span>
              </label>
              <label for="dot-3">
                <span class="dot three"></span>
                <span class="service">Domain Hosting</span>
              </label>
            </div>
          </div>


          <div class="btn">
        <div class="inputBox">
          <input type="submit" name="" value="Send">
        </div>
      </div>
        </form>
      </div>
    </section>
  </body>
</html>
