*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

section{
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(bg2.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 40px;
}

.container{
  position: relative;
  width: calc(100% - 100px);
  min-height: calc(100vh - 280px);
  min-height: 300px;
  background: rgba(255,255,255,0.5);
  box-shadow: 0 15px 35px rgba(0,0,0,0.05);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}
header{
  position: absolute;
  top: 30px;
  right: 20px;
  left: 20px;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255,255,255,0.2);
  box-shadow: 0 15px 35px rgba(0,0,0,0.05);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255,255,255,0.25);
  border-top: 1px solid rgba(255,255,255,0.5);
  border-left: 1px solid rgba(255,255,255,0.5);
}
header .logo{
  color: #8a2435;
  font-weight: 700;
  text-decoration: none;
  font-size: 2em;
}
header ul{
  display: flex;
}
header ul li{
  list-style: none;
  margin: 0 10px;
}
header ul li a{
  text-decoration: none;
  font-weight: 500;
  color: #8a2435;
  padding: 8px 15px;
  border-radius: 25px;
}
header ul li a:hover{
  background: #fff;
  color: #8a2435;
  text-decoration: none;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1)
}

@media(max-width: 992px){
  section{
    padding: 10px;
  }
  .container{
    flex-direction: column;
    height: auto;
    padding: 20px;
    justify-content: space-between;
  }
  header{
    position: relative;
    flex-direction: column;
    width: 100%;
    top: 10px;
    padding: 20px;
    right: 0;
    left: 0;
  }
  header ul{
    margin-top: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }
  header ul li{
    margin: 2px;
  }
  header ul li a{
    display: inline-block;
  }

}




.card {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(189, 51, 131, 0.37);
  /* color: rgba(255, 255, 255, 0.8); */
  margin-bottom: 2rem;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  margin-top: 15px;
  background: #8a2435;
  color: #fff;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 500;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  transition: 0.5s;
}

.btn:hover, .btn:focus {
  background: #fff;
  color: #000;
}









.footer{
  width: 95%;
  padding: 50px;
  padding-top: 10px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 10px 30px rgba(60, 60, 60, 0.4);
  backdrop-filter: blur(3px);
  border-radius: 25px;
}
.footer .social{
  text-align: center;
  padding-bottom: 25px;
  color: #4b4c4d;
}

.footer .social a{
  font-size: 24px;
  color: inherit;
  border: 1px solid #ccc;
  width: 40px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 8px;
  opacity: 0.5;
}
.footer .social a:hover{
  opacity: 1;
  color: #000;
}
.footer ul{
  margin-top: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
  text-align: center;
}
.footer ul li a{
  color: inherit;
  text-decoration: none;
  opacity: 0.5;
}
.footer ul li{
  display: inline-block;
  padding: 0 15px;
}
.footer ul li a:hover{
  opacity: 1;
}
.footer .copyright{
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #4b4c4d;
}
